*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{

}

.container{
  height: 50vh;
  background:grey;
  margin:70px;
  margin-top:2px;
  padding:20px;
}

.container .header{
  height:45vh;
  /*background: #fff;*/
  /*border:2px solid #111;*/
}

.navbar{
  display:flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  cursor:pointer;
}

.navbar-links ul{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  list-style: none;
  padding-top: 20px;
}

.navbar-links ul li a{
  text-decoration: none;
  padding:10px;
  color:#111;
}

.navbar .logo{
  border: 2px solid #111;
  border-radius: 8px;
  padding:5px;
  margin:20px;
  font-size: 20px;
  cursor: pointer;
}

.banner{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:space-between;
  padding-top: 85px;
  cursor: pointer;
}

.call-action {
  margin-top:26px;
}

.call-action a{
  text-decoration:none;
  color:#fff;
  background:#111;
  padding:10px;
  margin:20px;
  border-radius: 8px;
}